body {
	text-align: center;
	background: "images/MonkeyOnTree.jpeg";
	background-size: cover;
	color: white
	font-family: tahoma, sans-serif;
}

h1 {
	color: rgb(127,0,0);
	font-size: 60px;
	font-family: tahoma, sans-serif;
}

#slogan {
	color: rgb(255,33,0);
	font-size: 40px;
	font-style: italic; 
	font-family: tahoma, sans-serif;
}

p, li{
	color: rgb(127,0,0);
	font-size: 22px;
	font-family: tahoma, sans-serif;
}

hr {
	width: 400px;
}

li {
	text-align: left;
}